<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <h3>Please be patient while we are getting your spotify library</h3>
</div>
<div *ngIf="!isLoading" class="row">
  <div class="column">
    <mat-card>
      <mat-card-header>
        <form>
          <mat-form-field>
            <input matInput placeholder="Type to filter artists" [ngModel]="artistSearchTerm" (ngModelChange)="filterArtists($event)"
              name="artistSearchTerm">
          </mat-form-field>
        </form>
      </mat-card-header>
      <mat-action-list>
        <virtual-scroller #scroll [items]="library">
          <button *ngFor="let artist of scroll.viewPortItems" mat-list-item (click)="artistClicked(artist)">{{artist.name}}</button>
        </virtual-scroller>
      </mat-action-list>
    </mat-card>
  </div>
  <div class="column" *ngIf="selectedArtist">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{selectedArtist.name}}</mat-card-title>
        <mat-card-subtitle>ARTIST</mat-card-subtitle>
      </mat-card-header>
      <mat-action-list>
        <button *ngFor="let album of selectedArtist.albums" mat-list-item (click)="albumClicked(album)">{{album.name}}</button>
      </mat-action-list>
    </mat-card>
  </div>
  <div class="column" *ngIf="selectedAlbum">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{selectedAlbum.name}}</mat-card-title>
        <mat-card-subtitle>ALBUM</mat-card-subtitle>
      </mat-card-header>
      <mat-action-list>
        <button *ngFor="let track of selectedAlbum.tracks" mat-list-item (click)="onTrackSelected(track)">{{track.name}}</button>
      </mat-action-list>
    </mat-card>
  </div>
  <div class="column" *ngIf="trackSelected">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Wikidata matches</mat-card-title>
        <mat-card-subtitle>TRACKS</mat-card-subtitle>
      </mat-card-header>
      <mat-list>
        <mat-list-item *ngFor="let track of matchingWikidataSongs">
          <div *ngFor="let artist of track.artists">
            {{artist.labels['en']}}
          </div>
          {{track.name}}
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>
