<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <h3>Please be patient while we are getting your spotify library</h3>
</div>
<div *ngIf="!isLoading" class="row">
  <div class="loading-indicator">
    <mat-spinner *ngIf="wikiDetailsLoadMask"></mat-spinner>
  </div>
  <div class="column">
    <mat-card>
      <mat-card-header>
        <form>
          <mat-form-field>
            <input matInput placeholder="Type to filter artists" [ngModel]="artistSearchTerm" (ngModelChange)="filterArtists($event)"
              name="artistSearchTerm">
          </mat-form-field>
        </form>
      </mat-card-header>
      <mat-action-list>
        <virtual-scroller #scroll [items]="library">
          <button *ngFor="let artist of scroll.viewPortItems" mat-list-item (click)="artistClicked(artist)">{{artist.name}}</button>
        </virtual-scroller>
      </mat-action-list>
    </mat-card>
  </div>
  <div class="column" *ngIf="selectedArtist">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{selectedArtist.name}}</mat-card-title>
        <mat-card-subtitle>ARTIST</mat-card-subtitle>
      </mat-card-header>
      <mat-action-list>
        <button *ngFor="let album of selectedArtist.albums" mat-list-item (click)="albumClicked(album)">{{album.name}}</button>
      </mat-action-list>
    </mat-card>
  </div>
  <div class="column" *ngIf="selectedAlbum">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{selectedAlbum.name}}</mat-card-title>
        <mat-card-subtitle>ALBUM</mat-card-subtitle>
      </mat-card-header>
      <mat-action-list>
        <button *ngFor="let track of selectedAlbum.tracks" mat-list-item (click)="onTrackSelected(track)">{{track.name}}</button>
      </mat-action-list>
    </mat-card>
  </div>
  <div class="details-column" *ngIf="selectedTrack">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Wikidata matches</mat-card-title>
        <mat-card-subtitle>{{selectedArtist.name}}: {{selectedTrack.name}}</mat-card-subtitle>
      </mat-card-header>

      <div *ngIf="matchFound && !exactMatch">
        <mat-list>
          <mat-list-item *ngFor="let track of matchingWikidataSongs">
            <div>
              {{getArtists(track)}}{{':'}}{{' ' + track.name}}
            </div>
            <div class="auto-align">
              <button mat-raised-button color="accent" (click)="updateSpotifyIdForSong(track)">Yep, this is it.</button>
            </div>
          </mat-list-item>
          <mat-list-item>
            <button mat-raised-button color="primary" style="width: 100%" (click)="createSong(selectedTrack)">
              Can't find your track? Click here to create a new one in Wikidata.
            </button>
          </mat-list-item>
        </mat-list>
      </div>

      <div *ngIf="matchFound && exactMatch && matchingWikidataSongs[0]">
        <mat-list>
          <mat-list-item>
            <span>Track found in Wikidata! It is an exact match!</span>
          </mat-list-item>
          <mat-list-item>
            <span>{{matchingWikidataSongs[0].name}}</span>
          </mat-list-item>
          <mat-list-item>
            <span>{{matchingWikidataSongs[0].description}}</span>
          </mat-list-item>
        </mat-list>
      </div>

      <div *ngIf="!matchFound && !exactMatch">
        <mat-list>
          <mat-list-item>
            <span>No matching track found in Wikidata!</span>
          </mat-list-item>
          <mat-list-item>
            <button mat-raised-button color="primary" style="width: 100%" (click)="createSong(selectedTrack)">
              Save this to wikidata.
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card>
  </div>

</div>